@font-face {
    font-family: 'Noto300';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Japanese');
    src: url('../fonts/NotoSansCJKjp-Light.woff') format('woff'), url('../fonts/NotoSansCJKjp-Light.otf') format('opentype'), url('../fonts/NotoSansCJKjp-Light.eot');
}

.hero {
  background-color: rgba(83, 71, 65, 0.3);
}

.hero-img {
  /*padding-bottom: 448px;*/
  height:448px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.hero-text {
  width: 70%;
  position: absolute;
  top:25%;
  left:16%;
  z-index: 2;
  text-align: center;
}

div.hero-img-mask {
  position: absolute;
  top:0;
  z-index: 3;
  width: 100%;
  height:448px;
  background-color: ;
  background: url('../img/eyecatch-mask.png');
}

.hero-text h1 {
  font-size: 2.1em;
  line-height: 1.3em;
  border-bottom: 3px solid #009c9c;
  color: #fffff0;
  font-family: 'Noto300';
  margin-top: -4px;
}

.hero-text a.ghost {
  margin: 25px 0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #fffff0;
}

section {
    text-align: left;
    padding: 10px 30px 40px;
    margin:0 auto;
}
section h2 {
    font-family: 'Noto500';
    display: block;
    margin-left: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
    background: none;
    text-align: left;
    font-size: 2.3rem;
}

section h3 {
  padding-top: 10px;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

section h2:after {
    background-color: none;
    width: 0;
    position: static;
}

section p {
    line-height: 1.5;
    font-family: 'Noto300';
    padding-bottom: 20px;
}

section p.no-pic {
  width: 100%;
}

section ul, section ol {
  line-height: 1.4;
}

section ul.list-disc {
  list-style-type:disc;
  list-style-position: inside;
  padding-bottom: 10px;
}

section.forward {
    color:#009c9c;
    background-color: #fffff4;
}

section.forward h2 {
    color:#009c9c;
}

section.reverse {
   background-color: #009c9c;
   color: #fffff0;
}

section.reverse:first-of-type {
  padding-bottom: 80px;
}

section.reverse * {
  color: #fffff0;
}

section.flex aside {
  border-right: none;
}

section div.external a {
  display: inline-block;
  margin-right: 30px;
  width: 90%;
  padding:3px 8px;
  text-align: center;
  vertical-align: middle;
  margin-bottom:20px;
}

a.github:after {
  content: '\f09b';
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  margin-left: 10px;
}

a.bitbucket:after {
  content: '\f171';
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  margin-left: 10px;
}

a.site:after {
  content: '\f08e';
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  margin-left: 10px;
}

#side_info h3 {
  display: block;
}

#view_detail {
  text-align: center;
  padding:3px;
  width: 92%;
}

a.open:hover {
  background-color: transparent;
  color:#f7f7f7;
  border-color: #f7f7f7;
  box-shadow: 0 0 0 2px #f7f7f7;
}

a.open:after {
  content: '\f13a';
  font-family: 'FontAwesome';
  margin-left: 10px;
  font-size: 1.5rem;
}

a.close:after {
  content: '\f139';
  font-family: 'FontAwesome';
  margin-left: 10px;
  font-size: 1.5rem;
}

#side_info a.site,#side_info a.github {
  width: 96%;
  padding: 3px;
  box-sizing: border-box;
}

#basic_info {
  display: none;
  margin-top: 10px;
}

#basic_info dt {
  font-family: 'Noto500';
  font-size: 1.1rem;
  padding-bottom: 5px;
}

#basic_info dd {
  font-family: 'Noto300';
  padding-bottom:15px;
  font-size: 0.9rem;
  padding-left: 15px;
}

#basic_info dd > ul.info-list li:before {
  content: '\f054';
  font-family: 'FontAwesome';
  padding-right:5px;
  font-size: 0.7rem;
}

#basic_info dd > ul.icons li {
  display: inline-block;
  padding-right: 10px;
}

#basic_info dd > ul.icons li i{
  font-size: 1.7rem;
}

#basic_info img {
  width: 40px;
  height: auto;
  padding-right: 8px;
}

#slider {
  padding-bottom: 0;
  background-color: #D9D9D9;
  padding-top:20px;
}

div.slider-wrapper {
  margin-top:-70px;
}

#challenged div.flex-contents {
  padding-right: 0;
  padding-bottom: 30px;
}

#challenged div:last-of-type {
  text-align: center;
}

section.margin {
  margin-bottom:50px;
}

section.default-section {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
}

.pc-hidden {
  display: none;
}

.sp-hidden {
  display: block;
}

section img.fullsize-img {
    height: auto;
    width: 100%;
 }

#footer-nav {
  margin-top: 30px;
}

#footer-nav section{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#footer-nav h2 {
  text-align: center;
}

ul.prev-next li img{
  width: 100%;
  display: block;
}

ul.prev-next {
  display: flex;
  padding-top: 20px;
  width: 100%;
  flex-direction:column;
  -webkit-flex-direction:column;
}

ul.prev-next li {
   display: block;
   width: 100%;
   height: auto;
   min-height: 100px;
 }

@media only screen and (min-width:641px) {
  .hero-img {
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero-text {
    top:28%;
    width: 48%;
    left:26%;
    font-size: 1.3rem;
  }

  section.flex {
    display: flex;
  }
  section.flex div.flex-contents {
    flex-basis: 70%;
    margin-right: 40px;
    margin-left: 30px;
  }

  section.flex aside {
    flex-grow: 1;
    border-left:1px #fffff0 solid;
    padding-left: 40px;
    margin-top:20px;
  }

  section div.web-site {
    display: block;
  }

  section div.web-site > div {
    flex-grow: none;
  }

  section div.external a {
    max-width: 130px;
  }

  #side_info h3 {
    display: none;
  }


  #challenged.flex, #mistaked.flex {
    align-items: flex-end;
  }

  #challenged div.flex-contents {
    padding-bottom: 0;
  }

  #challenged div:last-of-type {
    text-align: left;
  }

  #side_info label {
    display: none;
  }

  #view_detail {
    display: none;
    margin-top: 0;
  }
  #basic_info {
    display: block;
  }

  .pc-hidden {
    display: block;
  }

  .sp-hidden {
    display: none;
  }

  ul.prev-next {
    flex-direction:row;
    -webkit-flex-direction:row;
  }

}

@media only screen and (min-width:1120px) {
  .hero-text {
    top:33%;
  }

  section.flex div.flex-contents {
    flex-basis: 70%;
    margin-right: 40px;
    margin-left: 30px;
  }


  section div.no-pic {
    width: 75%;
  }

  section div.web-site {
    display: flex;
  }

  section div.web-site > div {
    flex-grow: 1;
  }

  section img.fullsize-img {
      max-width: 1120px;
   }

   .display_none {
     display: block;
   }

    ul.prev-next li {
      width: 50%;
    }

    ul.prev-next li a {
      width: 100%;
    }
}
