div.hero {
  position: relative;
}

div.hero-img {
  height: 350px;
}

.hero-img h1 {
  color:white;
  border-bottom: 3px solid rgb(228, 108, 21);
  padding-bottom: 10px;
  width: 270px;
  margin:0 auto;
  padding-top:125px;
  text-align: center;
}

.arrow_box article, div.mw_wp_form_complete p {
  width: 90%;
  margin:0 auto;
  text-align: left;
}

div.mw_wp_form_complete a {
  margin-top: 15px;
  display: block;
  text-align: center;
}

div.mw_wp_form_complete a:after {
  content: '\f18e';
  font-family: 'FontAwesome';
  font-size: 1.1rem;
}

#message h2 {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#message h2:after {
  left:-30%;
}

#message article {
  line-height: 1.3;
}

#modal-content{
	width:30%;
	margin:1.5em auto 0;
	padding:20px;
	border:1px solid #ccc;
	background:#fff;
	z-index:4;
  display: none;
  position: fixed;
  border-radius: 3px;
  min-width: 250px;
}

p.modal-p{
  font-size:1.2rem;
}

p.model-button {
  display: flex;
  display: -webkit-flex;
  padding-top: 20px;
}

#modal-close{
  width: 180px;
  box-sizing: border-box;
  text-align: center;
}
#modal-overlay{
	/*追加分*/
	width:100%;
	height:120%;
	position:fixed;
	top:0;
	left:0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  display: none;
}

div.mw_wp_form form input[type="submit"], #modal-open{
  width: 180px;
  font-family: 'Noto500';
  background-color: #ff983e;
  color: white;
  display: block;
  padding:6px;
  border: 4px double #fcfcfc;
  font-size: 1.1rem;
  transition:all 0.2s ease-out;
  -web-kit-transition:all 0.2s ease-out;
  -ms-transition:all 0.2s ease-out;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 3px;
}

#modal-open {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

div.mw_wp_form form > input[type="submit"]:after {
  content: "\f1d8";
  font-family: "FontAwesome";
}

div.mw_wp_form form > input[type="submit"]:hover, #modal-open:hover {
  background-color: #fcfcfc;
  color: #ff983e;
  border: 4px double #ff983e;
}


/* 問い合わせフォーム*/
div.mw_wp_form form {
  padding-bottom: 20px;
}

div.mw_wp_form form > dl {
  margin-top: 60px;
  box-sizing: border-box;
  border:1px solid #ddd;
  border-left:none;
  border-right: none;
  margin-bottom:20px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

div.mw_wp_form form > dl > * {
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
}
div.mw_wp_form form dt {
  background-color: #009c9c;
  color: #fcfcfc;
}

dt.require:before {
    content: "*";
    font-size: 1.4rem;
    vertical-align: middle;
}


div.mw_wp_form form dd {
  background-color: #fcfcfc;
}

div.mw_wp_form form input[type="text"],
div.mw_wp_form form input[type="email"],
div.mw_wp_form form textarea {
  width: 92%;
  padding:5px;
}

/* メール送信完了画面*/
div.mw_wp_form_complete {
  background-color: #fcfcfc;
  min-height: 300px;
}

div.mw_wp_form_complete p {
  line-height: 1.3;
}

@media only screen and (min-width:641px) {
  #message h2 {
    width: 90%;
    text-align: center;
  }

  #message article, div.mw_wp_form_complete p {
    width: 67%;
  }

div.mw_wp_form form dl {
    overflow: hidden;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    max-width: 760px;
    line-height: 1.5;
  }

div.mw_wp_form form dl>dt:first-of-type,
  div.mw_wp_form form dl>dd:first-of-type {
    border-top: 1px solid #ddd;
    display: inline;
  }

  div.mw_wp_form form dl > * {
    float: left;
    border-bottom: 1px solid #ddd;
    height: auto;
  }

  div.mw_wp_form form dl > dt {
    clear: both;
    float: left;
    width: 33%;
    min-height: 33px;
    border-left:1px solid #ddd;
  }

  div.mw_wp_form form dl > dd {
    width: 64.7%;
    border-right:1px solid #ddd;
    box-sizing: border-box;
  }

  p.modal-p{
    font-size:1.3rem;
  }
}
