@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
.hero-img > span {
    font-size: 2em;
}

.hero-text {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    position: absolute;
    color: #333;
    text-shadow: 1px 1px white, -1px -1px #444;
    top: 50%;
    width: 100%;
    text-align: center;
    line-height: 1.2;
    font-size: 2.5rem;
}

.hero-text span:before{
    content:'';
}
.code {
    font-size: 3.3rem;
    color: #fff;
    display: block;
}

.and {
    color: #333;
}

.design {
  font-size: 3.3rem;
    color: #FFBF00;
    display: block;
}

#header_contents img {
    max-width: 100%;
    height: 120%;
    width: 100%;
    border-bottom: 1px solid #888;
    -webkit-background-size: cover;
    background-size: cover;
}

#message {
    width: 92%;
    height: auto;
    position: relative;
    z-index: 3;
    padding-bottom: 50px;
    text-align: left;
    margin: 0 auto;
}

#message h2 {
  text-align: left;
  width: 93%;
  line-height: 1.2;
  margin: 0;
  display: block;
  white-space: nowrap;
}

#message p {
    font-size: 1rem;
    margin: 0;
    min-width: 280px;
    line-height: 1.5;
}

#message after {
    border-color: #fff transparent transparent transparent;
}

/*Portfolio*/
#portfolio {
    position: relative;
    z-index: 2;
    padding-bottom: 80px;
}

#portfolio ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#portfolio > ul > li {
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

#portfolio a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
}
#portfolio > ul > li img {
    height: auto;
    display: block;
    width: 100%;
}

#portfolio ul.tag {
  margin-left: 5px;
}

#portfolio p {
    width: 10%;
    text-align: left;
    min-width: 160px;
    padding-top: 8px;
    color: #666666;
    font-size: 0.8em;
}

#portfolio article:hover p {
    text-decoration: underline;
}

#portfolio ul.tag li {
  min-width: 30px;
  margin-right:14.5px;
  font-size: 0.6rem;
}

#about_me {
    background-image: url("../img/aboutme.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#F7F6f5;
    color: #f7f7f7;
    text-align: center;
    width: 100%;
    height: auto;
    -webkit-background-size:cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 65px;
    padding-bottom: 60px;
}

#about_me h2 {
  color: #f7f7f7;
}

#about_me h2, #instagram h2 {
    margin-bottom: 0;
    font-size: 2.3rem;
}

#about_me p {
    width: 92%;
    margin: 0 auto;
    line-height: 1.6;
    text-align: left;
    font-size: 1.15rem;
    padding-bottom: 20px;
    color:#fffffa;
    max-width: 338px;
}

#about_me a {
    width: 200px;
    margin: 0 auto;
    position: relative;
    padding-right: 20px;
}

#about_me a:after {
    content:'\f101';
    font-family: 'FontAwesome';
    padding-left: 10px;
    font-size: 1.6em;
    position: absolute;
    top:2px;
}

#about_me a:hover {
    background: #f7f7f7 url("../../img/common/ic_right_black.gif") no-repeat 80% 51%;
    -webkit-background-size: 18px 13px;
    background-size: 18px 13px;
}
#instagram {
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  z-index: 0;
}

#instagram h2 {
    padding-top: 0px;
}

#instagram ul {
    width: 100%;
}

#instagram li {
    display: inline-block;
    width: 33%;
}

#instagram li .banner,
#instagram img {
    width: 100%;
    height: auto;
}


/*マウスオーバーするマスク*/
.banner .mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    min-height: 120px;
    height: 100%;
}

#instagram img {
    border: 1px solid #ccc;
    display: block;
}

#instagram .banner p {
    top: 42%;
}

@media only screen and (min-width:641px) {
    .hero-img {
      height:485px;
    }

    .hero-text {
      top:45%;
      font-size: 3rem;
    }

    .code {
      display: inline;
      font-size: 4.5rem;
    }

    .design {
      display: inline;
      font-size: 4.5rem;
    }

    #message {
      width: 540px;
    }
    #message h2 {
      width: 100%;
    }
    #message p {
      min-width: 400px;
      font-size: 1.4rem;
    }
    /*Portfolio*/
    #portfolio ul {
        padding-left: 0;
        padding-right: 0;
    }
    #portfolio > ul > li {
      flex-basis: 50%;
    }

    #portfolio article {
        padding: 0 20px 6px;
    }

    #about_me p {
        font-size: 1.4em;
        line-height: 1.5em;
        padding-bottom: 30px;
        max-width: 700px;
    }
    #instagram h2 {
        padding-top: 0;
    }
    #instagram li .banner,
    #instagram li .mask,
    #instagram img {
    }
    #instagram li {
      width: 16.6%;
      max-width: 240px;
    }
}

@media only screen and (min-width:1120px) {
  #portfolio ul.tag li {
    font-size: 0.7rem;
  }

    span.thumb_hover{
      width: 280px;
    }

    .hero-img {
      height: 485px;
      background-position: 50% 70%;
    }

    #message {
      width: 545px;
    }

    #about_me p {
        width: 75%;
        max-width: 900px;
        padding-bottom: 40px;
    }
}
