/*@charset "UTF-8";

/*
Theme Name: Bennie-A
Author: Aiko.B
Description: ポートフォリオ用テーマ
Version: 1.0
*/

@font-face {
    font-family: 'Noto-normal';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Japanese');
    src: url('fonts/NotoSansJP-Regular-Subset.woff') format('woff'), url('fonts/NotoSansJP-Regular-Subset.otf') format('opentype'), url('fonts/NotoSansJP-Regular-Subset.eot');
}

@font-face {
    font-family: 'Noto500';
    font-style: normal;
    src: local('Noto Sans Japanese');
    src: url('fonts/NotoSansJP-Medium-Subset.woff') format('woff'), url('fonts/NotoSansJP-Medium-Subset.otf') format('opentype'), url('fonts/NotoSansJP-Medium-Subset.eot');
}

@font-face {
    font-family: 'Noto700';
    font-style: bold;
    src: local('Noto Sans Japanese');
    src: url('fonts/NotoSansCJKjp-Bold.woff') format('woff'), url('fonts/NotoSansCJKjp-Bold.otf') format('opentype'), url('fonts/NotoSansCJKjp-Bold.eot');
}

@font-face {
    font-family: 'Libre-Reg';
    font-style: normal;
    src: local('LibreBaskerville-Regular');
    src: url('fonts/LibreBaskerville-Regular.ttf') format("truetype"), url('fonts/LibreBaskerville-Regular.woff') format('woff'), url('fonts/LibreBaskerville-Regular.eot');
}

@font-face {
    font-family: 'Libre-Bold';
    font-style: normal;
    src: local('LibreBaskerville-Bold');
    src: url('fonts/LibreBaskerville-Bold.ttf') format("truetype"), url('fonts/LibreBaskerville-Bold.woff') format('woff'), url('fonts/LibreBaskerville-Bold.eot');
}

#wpadminbar {
  display: none;
}

html, body {
  height: 100%;
}

.hero-img {
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid #888;
    background-color: #ddd;
    background-position: 50% 50%;
    max-width: 100%;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
}

* {
    font-family: 'Noto-normal', serif;
    color: #555;
}

h1 {
    font-size: 4em;
}

a {
    color: #009c9c;
}

a:hover {
  text-decoration: none;
}

span:before {
    content: "\A";
    white-space: pre;
}

section {
    text-align: center;
}

section h2,div.mw_wp_form_complete h2 {
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    font-size: calc(140% + 2vw);
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: left;
    color: #333;
    width: 98%;
    text-align: center;
}


section article h3 {
    font-size: 1.3em;
    font-family: 'Noto500';
    padding: 15px;
    padding-top: 0px;
    text-align: center;
    color: #333;
}

article p {
    line-height: 1.4em;
}

.contents .sub_navi {
    border-bottom: 0;
    background-color: #f7f7f7;
}

/*段組レイアウト*/
.display_table {
    display: block;
}

.display_table_cell {
    display: block;
}

/*セクションごとの吹き出し*/

/*.arrow_box {
    position: relative;
  box-shadow: 0px 6px 2px -2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 6px 2px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 2px -2px rgba(0,0,0,0.3);
    width: 100%;
    padding-bottom: 40px;
    background-color: #fcfcfc;
}

.arrow_box:after,
.arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fcfcfc;
    border-width: 42px 82px 0;
    margin-left: -75px;
    top: 97%;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #fcfcfc;
    -webkit-filter:drop-shadow(0px 2px 2px rgba(0,0,0,0.5));
    border-width: 36px 70px 0;
    margin-left: -66px;
}

.arrow_box p {
    width: 88%;
    display: inline-block;
    font-size: 0.9em;
    text-align: left;
}

/*背景が緑色の場合の吹き出し*/
.arrow_green_box:after {
    border-top-color: #E8EEE9;
    top:99.8%;
    border-width: 39px 80px;
}
*/
.display_none {
    display: none;
}

.img_shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#top-head,
.inner {
    width: 100%;
    padding: 0;
}
#top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
    background: #fff;
    padding-bottom: 10px;
}
/* Fixed reset */
#top-head.fixed {
    padding-top: 0;
    background: white;
}
#mobile-head {
    width: 100%;
    height: 56px;
    z-index: 999;
    position: relative;
    padding-left: 5px;
    padding-top: 10px;
    box-sizing: border-box;
}
#top-head.fixed .logo,
#top-head .logo {
    position: absolute;
    left: 13px;
    top: 13px;
    color: #333;
    font-size: 26px;
}
#global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -500px;
    background: #333;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
#global-nav ul li {
    position: static;
    transition: all 0.15s ease;
    border-bottom:1px solid #888;
    font-size: 1.1rem;
    padding: 17px 0;
}

#global-nav ul li:last-of-type {
  border-bottom: none;
}

#global-nav ul li a,
#top-head.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
}

#global-nav ul li:hover {
  background: #666;
}

#nav-toggle {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
    font-size: 0.9rem;
}

#nav-toggle label {
  margin-bottom:5px;
  color:#333;
  cursor: pointer;
}

#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #333;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    margin-top: 5px;
}
#nav-toggle span:nth-child(2) {
    top: 32px;
}
#nav-toggle span:nth-child(3) {
    top: 23px;
}

/* #nav-toggle 切り替えアニメーション */
.open #nav-toggle span {
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(2) {
  top: 27px;
  width: 70%;
  left:5px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
}
.open #nav-toggle span:nth-child(3) {
    top: 27px;
    width: 70%;
    left:5px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}
/* #global-nav スライドアニメーション */
.open #global-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
    margin-top: 10px;
}

.page_header {
    -webkit-background-size: 150% 93px;
    background-size: 150% 93px;
    clear: both;
    overflow: hidden;
    width: 100%;
    text-align: center;
    min-height: 93px;
    padding-top: 20px;
}

.contents {
    clear: right;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.sub_navi .bread_list {
    float: left;
    width: 60%;
    margin-left: 5px;
}

main {
  display: block;
  padding-bottom: 40px;
}

/*ゴーストボタン*/
.ghost {
    border: double 4px #fff;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    padding: 8px 5px;
    font-weight: 400;
    font-family: 'Noto500', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    text-align: center;
}

/*ゴーストボタン(白)*/

a.ghost_white {
    border-color: #f7f7f7;
    color: #f7f7f7;
}

a.ghost_white:after {
    content: '';
    border-color: #f7f7f7;
}

a.ghost_white:hover {
    background-color: #f7f7f7;
    color: #444;
    border-color: #444;
    box-shadow: 0 0 0 2px #444;
    cursor: pointer;
}

.ghost_white:hover:after {
    border-color: #444444;
}

a.ghost_gray {
  color:#fcfcfc;
  border-color:#fcfcfc;
  background-color: #aaa;
  cursor: pointer;
}

a.ghost_gray:hover {
  color:#aaa;
  border-color:#aaa;
  background-color: #fcfcfc;
  cursor: pointer;
}

/* WordPressのタグ */
ul.tag {
	margin: 0;
	padding: 0;
	list-style: none;
  text-align: left;
}
ul.tag li {
	display: inline-block;
	margin: 0 0.7em 0.5em;
	padding: 0;
}
ul.tag li a, #portfolio ul.tag li {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	background-color: #009c9c;
	border-radius: 0 3px 3px 0;
	color: #fffff0;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;

}
ul.tag li a::before,#portfolio ul.tag li::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	border-color: transparent #009c9c transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
ul.tag li a::after, #portfolio ul.tag li::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}

/*View Project*/
a.portfolio-link {
  display: block;
  text-decoration: none;
  position: relative;
}

a.portfolio-link div {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top:0;
  padding: 5% 5% 3%;
  margin-top:10px;
  margin-left: 10px;
  line-height: 1.2;
  width: 55%;
}

a.portfolio-link cite {
  font-family: 'Noto-normal';
  font-size: 1.4rem;
}

span.move:before {
  content: "\A" ;
  white-space: pre ;
}

span.move {
  font-size: 0.9rem;
  transition: 0.3s ease;
  display: block;
}

a.portfolio-link:hover span.move{
  transform: translateY(-20px);
}

span.move::after {
  content: '\f178';
  font-family: 'FontAwesome';
  padding-left: 5px;
  font-size: 0.9rem;
}

/* フッター */
footer .contact {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

footer .contact h2 {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}

footer .contact ul {
    padding-top: 15px;
}

footer .contact li {
    display: inline-block;
    padding: 0 7px;
}

footer .contact i {
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);}

footer {
    background-color: #66999C;
}

footer .footer {
    clear: both;
    color: #B0AA99;
    font-weight: 400;
    font-size: 0.8em;
    background-color: #4D4D4D;
    overflow: hidden;
    padding: 10px 3px;
    z-index: -1;
}

.page_top {
    float: right;
    position: relative;
    top: -59px;
    margin-bottom: -66px;
    z-index: 2;
}

footer .page_top a {
    display: block;
    background: url("img/page_top.png") no-repeat 0 0;
    width: 70px;
    height: 60px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

footer .page_top a:hover {
    background-position: -69px 0;
}

footer .footer small {
    float: left;
    color: #B0AA99;
}

footer .footer nav {
    float: right;
}

footer .footer nav ul {
    border-right: 1px solid #d4ccb8;
}

footer .footer nav li {
    display: inline-block;
    border-left: 1px solid #d4ccb8;
    padding-left: 5px;
    padding-right: 5px;
}

footer .footer nav li a {
    font-family: 'Noto500';
    color: #B0AA99;
}

.bread_list a:hover,
.text_link:hover {
    border-bottom: 2px solid #B0AA99;
}

#loading {
  position: fixed;
  z-index: 2;
  width: 192px;
  height: 192px;
  text-align: center;
  margin-top: -96px;
  margin-left: -96px;
  top:50%;
  left:50%;
  font-size: 2rem;
  font-family: 'Libre-Reg';
}

#loading p{
  margin-top: 10px;
}

#loadging-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
}


/*バナー全体のサイズ*/

.banner {
    overflow: hidden;
    position: relative;
    text-align: center;
}

/*テキスト*/
.banner p {
    font-size: 16px;
    position: relative;
    color: #fff;
    text-align: center;
    top: 45%;
}

/*黒にする*/
.banner-view .mask {
    opacity: 0;
    background-color: rgb(228, 108, 21);
    transition: all 0.3s ease-in-out;
    width: 100%;
}

/*マウスオーバーしたとき　不透明度を下げる**/
.banner-view:hover .mask {
    opacity: 1;
}

@media only screen and (min-width:641px) {
    span:before {
        content: "";
        white-space: pre;
    }
    /*段組レイアウト*/
    .display_table {
        display: table;
        table-layout: fixed;
    }
    .display_table_cell {
        display: table-cell;
    }

    .hero-img {
      height:485px;
    }

    .hero-text {
      top:43%;
    }

    header .logo {
        width: 180px;
        float: left;
    }
    header .header_logo img {
        width: 180px;
        height: auto;
    }

    #top-head {
        top: -100px;
        position: absolute;
        width: 100%;
        margin: 100px auto 0;
        line-height: 1;
        z-index: 999;
    }

    #top-head a,
    #top-head {
        color: #fff;
        text-decoration: none;
    }
    #top-head .inner {
        position: relative;
    }
    #top-head .logo {
        float: left;
        font-size: 36px;
    }

    #top-head.fixed {
        margin-top: 0;
        top: 0;
        position: fixed;
        padding-bottom: 10px;
        height: 60px;
        background: #fff;
        background: rgba(255,255,255,.7);
        transition: top 0.65s ease-in;
        -webkit-transition: top 0.65s ease-in;
        -moz-transition: top 0.65s ease-in;
    }
    #top-head.fixed .logo {
        font-size: 24px;
        color: #333;
    }

    #mobile-head {
      z-index: 0;
    }

    .menu-icon {
        display: none;
    }

    .header-inner nav li {
        display: inline-block;
        background: none;
        border: none;
        padding-left: 20px;
    }
    .header-inner nav li a {
        color: #444;
        font-family: 'Noto500', serif;
        font-size: 0.9em;
        display: block;
        padding: 10px 5px;
    }

    .header-inner nav li a:hover {
        background: none;
        border-bottom: 2px solid #444;
    }

    #nav-toggle {
      display: none;
    }

    #global-nav {
      top:20%;
      background: transparent;
      width: 50%;
      right:0;
      padding: 10px 0;
      padding-right: 10px;
      max-width: 420px;
    }

    #global-nav ul {
      flex-direction: row;
      justify-content: space-between;
    }

    #global-nav ul li {
      border: none;
      padding: 0;
    }
    #global-nav ul li a {
      font-family: 'Noto500', serif;
      font-size: 0.9rem;
      display: block;
      padding: 10px 5px;
      color:#333!important;
    }

    #global-nav ul li:nth-of-type(2) {
      border-top:none;
      border-bottom:none;
    }

    #global-nav ul li:hover {
      background: transparent;
    }
    #global-nav ul li a:hover{
      border-bottom:3px solid #333;
    }

    .open #global-nav {
      top:-548px;
      margin-top: 0;
      width: 50%;
    }

    .page_header {
        background-size: 100% auto;
        background-size: 100% 120px;
    }

    .sitenav {
        position: static;
        overflow: hidden;
        float: right;
        width: 300px;
        box-sizing: border-box;
    }

    section {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    section h2,div.mw_wp_form_complete h2 {
        padding-top: 35px;
        font-size: 2rem;
    }

    a.portfolio-link div {
      width: 56%;
    }

    a.portfolio-link cite {
      font-size: 1.6rem;
    }

    footer .footer {
        font-family: 'Noto500', serif;
        font-size: 0.9em;
    }
    footer .contact {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    footer .contact h2 {
        float: left;
        width: 56%;
        font-size: 1.1em;
        text-align: right;
        padding-top: 7px;
    }
    footer .contact ul {
        padding-top: 0;
        float: left;
        width: 33%;
        text-align: left;
        padding-left: 20px;
    }

    .arrow_box:after {
      top:96%;
    }
    .arrow_green_box:after {
      top:99.4%
    }
}

@media only screen and (min-width:1120px) {
    body {
        width: 100%;
    }
    nav .pc_menu ul {
        margin-right: 0px;
    }
    .page_header {
        width: 1120px;
    }

    header,
    main,
    #top-head .inner {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sub_navi {
        width: 1120px;
    }
    #global-nav {
      right: 40px;
    }

    section h2,div.mw_wp_form_complete h2 {
        font-size: 2.725vw;
    }
}
    .tcon-menu {
        margin-top: -2px;
    }
